# Dependencias
node_modules

# Build
dist
coverage
*.tsbuildinfo

# Variables de entorno
.env
.env.*
!.env.example

# Git / editor / sistema
.git
.vscode
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*